::placeholder {
    color: rgb(7, 7, 7);
    font-weight: 800;
    font-size: 15px;
    text-transform:capitalize;
    text-shadow: -4px 1px 2px rgb(219, 207, 207);
    /* letter-spacing: 1px; */
    opacity: 0.4;
}
/* :radio {
    font-size: 100px;
} */

.a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(rgb(186, 235, 188),white);
    border-radius: 40px;
    padding: 10px;
}
.a1 {
    border-radius: 50%;
    border: none;
}
 
.a2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.a3 {
    /* background-color: rgb(236, 233, 233); */
    background-image: linear-gradient(to right bottom,  rgb(233, 191, 191), rgb(190, 243, 190),rgb(193, 186, 236),pink,rgb(155, 155, 247));
    margin: 50px;
    border: 10px solid rgb(5, 5, 236);
    border-radius: 20px;
    /* background: inherit; */
}
.a4 {
    display: flex;
    gap: 50px;
}
.a5 {
    display: flex;
    gap: 4px;
}
.a6 {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(159, 159, 159);
    text-align: center;
    height: 15px; width: 70px;
    cursor:wait;
}
.a7 {
    color: white; 
    background-color: blue; 
    font-weight: 900; 
    font-size: 20px; 
    text-align: center; 
    padding: 12px 25px;
    border-radius: 10px;margin-bottom: 15px;
}
.a8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a9 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px;
    gap: 20%;

}
.a10 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.a11 {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(159, 159, 159);
    text-align: center;
    height: 15px; width: 500px;
}
.a12 {
    display: flex;

}
.a13 {
    display: flex;
    gap: 30px;
}
.checkmark {
    position: absolute;

    border: none;
    border-radius: 5px;
    height: 20px; width: 20px;
    background-color: rgb(194, 195, 241);
}
.a15 {
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.a16 {
    display: flex;
    gap: 200px;
}
.a17 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 357px;
    background-color: rgb(159, 159, 159) ;
    text-align: center;
}
.a177 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
/* .a17:hover {
    color: blue;
    padding: 20px;
    border: dashed 2px solid blue;
} */
.a18 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
    margin: 20px;
}
.a19 {
    display: flex;
    gap: 30px;
}
.a20 {
    color: white; 
    background-color: blue; 
    font-weight: 900; 
    /* font-size: 25px;  */
    text-align: center; 
    padding: 12px 45px;
    height: 20px; width: 100px;
    border-radius: 10px;
    /* margin-top: -15px; */
    /* margin-left: 30px; */

}
.radio {
    border: none;
    color: black;

}
.a21 {
    display: flex;
    gap: 200px;
}
.a22 {
    display: flex;
    gap: 30px;
}
.a23 {
    display: flex;
    gap: 150px;
}
.a24 {
    display: flex;
    gap: 127px;
}
.a25 {
    display: flex;
    gap: 50px;
}
.a26 {
    display: flex;
    gap: 380px;
    /* justify-content: space-around; */

}
.a27 {
    display: flex;
    gap: 200px;
    /* flex-direction: row; */
}
.a277 {
    display: flex;

}
.a2777 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 20px;
    background-color: rgb(159, 159, 159) ;
    text-align: center;
}
.a28 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 100%;
    background-color: rgb(159, 159, 159) ;
    /* text-align: center; */
}
.b321 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 20px;
    background-color: rgb(159, 159, 159) ;
    text-align: center;
}
.a29 {
    display: flex;
    gap: 30px;
}
.a30 {
    display: flex;
    gap: 343px;
}
.a31 {
    display: flex;
    gap: 155px;
}
.a311 {
    display: flex;
    gap: 15px;
}
.b311 {
    display: flex;
    gap: 2px;
}
.a32 {
    display: flex;
    gap: 15px;
}
.a33 {
    display: flex;
    gap: 200px;
}
.a34 {
    display: flex;
    gap: 150px;
}
.a35 {
    display: flex;
    gap: 40px;
}
.a36 {
    display: flex;
    gap: 165px;
}
.a37 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 1100px;
    background-color: rgb(159, 159, 159) ;
}
.a38 {
    display: flex;
    gap: 162px;
}
.a39 {
    display: flex;
    gap: 120px;
}
.a40 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 800px;
    background-color: rgb(159, 159, 159) ;
}
.a41 {
    display: flex;
   gap: 140px;
}
.a42 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 1100px;
    background-color: rgb(159, 159, 159) ;
}
.a43 {
    display: flex;
    gap: 20px;
}
.a44 {
    display: flex;
    gap: 150px;
}
.a441 {
    display: flex;
    gap: 190px;
}
.a45 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 300px;
    background-color: rgb(159, 159, 159) ;
}
.a46 {
    display: flex;
   gap: 30px;
}
.a47 {
    border: none;
    border-radius: 5px;
    height: 25px; width: 150px;
    background-color: rgb(159, 159, 159) ;
}
.a48 {
    display: flex;
    gap: 125px;
}
